@font-face {
    font-family: 'Anton';
    src: 'fonts/Anton-Regular.ttf';
}

body {
    background-color: black;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    padding-top: 1rem;
    font-family: 'Anton';
}

.grid-div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    word-wrap: break-word;
    margin-bottom: 5rem;
}

.images-div {
    padding-left: 10px;
}


/* Initial Scale */
#scale-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* Text */
h1 {
    color: white;
    text-align: center;
}
#individual-image {
    margin-right: 10px;
    line-height: 10px;
    color: white;
}
.begTextWrapper {
    text-align: center;
    font-size: 0;
    margin-top: 15rem;

}
.begText {
    color: white;
    font-size: 75px;
    display: inline-block;
    text-align: left;

}
#number {
    padding-right: 1rem;
}
#word {
    width: 20rem;

}

/* Visibility */
.hidden {
    display: none !important;
}
.opaque {
    visibility: hidden;
}

/* Column Assignments */
#okc-name {
    color: black;
    grid-column: 1;
    grid-row: 1;
}
#katrina-name {
    color: black;
    grid-column: 2;
    grid-row: 1;
}
#harbor-name {
    color: black;
    grid-column: 3;
    grid-row: 1;
}
#towers-name {
    color: black;
    grid-column: 4;
    grid-row: 1;
}
#iraq-name {
    color: black;
    grid-column: 5;
    grid-row: 1;
}
#covid-name {
    color: black;
    grid-column: 6;
    grid-row: 1;
}
