@font-face {
    font-family: 'Anton';
    src: 'fonts/Anton-Regular.ttf';
}

body {
    background-color: black;
    overflow: visible;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3rem;
    padding-top: 1rem;
    font-family: 'Anton';
}

@media only screen and (max-width: 700px) {
    .begText {
        font-size: 50px;
        overflow: auto;
    }
    .name {
        overflow: auto;
        font-size: 15px !important;
    }
    .grid-div {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (min-width: 700px) and (max-width: 850px) {
    .begText {
        font-size: 60px;
        overflow: auto;
    }
    .name {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 850px) {
    .begText {
        font-size: 75px;
        text-align: left;

    }
}


.name {
    overflow: hidden;
}

.grid-div {
    -webkit-transition: 20s ease-in-out;
    -moz-transition: 20s ease-in-out;
    -o-transition: 20s ease-in-out;
    -ms-transition: 20s ease-in-out;
    transition: 20s ease-in-out;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.grid-div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    word-wrap: break-word;
    margin-bottom: 1rem;
    
}
.graph {
    display: none;
}

.images-div {
    padding-left: 10px;
}


/* Initial Scale */
.scale-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#scale-image {
    width: 100%;
}


/* Text */
h1 {
    color: white;
    text-align: center;
}
#individual-image {
    margin-right: 10px;
    line-height: 10px;
    color: white;
}
#covid-image {
    margin-right: 10px;
    line-height: 10px;
    color: black;
}
.begTextWrapper {
    text-align: center;
    font-size: 0;
    margin-top: 15rem;
    top: 50%;
}
.begText {
    color: white;
    display: inline-block;
}
#number {
    padding-right: 1rem;
}
#word {
    width: 20rem;
}


/* Visibility */
.hidden {
    display: none !important;
}
.opaque {
    visibility: hidden;
}

/* Column Assignments */
#okc-name {
    color: black;
    grid-column: 1;
    grid-row: 1;
}
#katrina-name {
    color: black;
    grid-column: 2;
    grid-row: 1;
}
#harbor-name {
    color: black;
    grid-column: 3;
    grid-row: 1;
}
#towers-name {
    color: black;
    grid-column: 4;
    grid-row: 1;
}
#iraq-name {
    color: black;
    grid-column: 5;
    grid-row: 1;
}
#covid-name {
    color: black;
    grid-column: 6;
    grid-row: 1;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }
